<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCrco6RcrTzLRXdSSYJSombt0udSpzfTNc",
    authDomain: "testfirebase-d7515.firebaseapp.com",
    databaseURL: "https://testfirebase-d7515.firebaseio.com",
    projectId: "testfirebase-d7515",
    storageBucket: "",
    messagingSenderId: "569597742683",
    appId: "1:569597742683:web:346da4504267b35093797e",
    measurementId: "G-B7HMP7WVLN"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>